{"openapi":"3.0.1","info":{"title":"Veteran Service History and Eligibility API","description":"With this API you can\n* Return enrolled benefits for a Veteran.\n* Return a Veteran's enrollment status in minimum essential coverage (MEC) as defined by\nthe Affordable Care Act (ACA).  (restricted access).\n* Return disability ratings of a Veteran.\n* Return certain benefit flashes for a Veteran.\n* Return the service history of a Veteran.\n* Confirm an individual's Title 38 Veteran status.\n\nThis information is more detailed than the information returned by the [The Veteran Confirmation API](https://developer.va.gov/explore/verification/docs/veteran_confirmation?version=current) and as such, is only available to authorized and authenticated consumers.\n\n# Technical overview\n\nYou can use the POST or GET version of each endpoint regardless of your\nauthorization method.\n\n## Using GET endpoints\n\nThe GET endpoint relies on the ICN to find a specific matching Veteran. When\nusing OAuth, the ICN is not required as part of your request. The ICN is\nautomatically added as part of the OAuth launch token context.\n\nWhen using CCG, you must add the ICN in the launch context for the OAuth token.\n\n## Using POST endpoints\n\nPOST endpoints use identifiable information to find a match instead of a\nVeteran's ICN. The required information is listed in the parameter\ndescriptions for these endpoints. Successful responses are received and\nTitle 38 status is checked when a single Veteran's data matches with\nconfidence to the submitted data.\n\n## Not confirmed reasons\nA result of \"not confirmed\" does not necessarily mean that a person is not a Veteran.\nA person may have served without being entitled to the VA benefits of a Title 38 Veteran,\nor more research may be required to determine their status. If one of the /status endpoints\nreturns a veteran_status of \"not confirmed\", it will also return one of the following\nnot_confirmed_reason values:\n\n  - ```PERSON_NOT_FOUND``` : The person was not found in VA source systems with\n  the provided information.\n      - **Suggested action**: Re-check information and try query again. Including\n      more demographic data for a Veteran increases the likelihood of finding\n      their records in VA source systems.\n  - ```NOT_TITLE_38```: VA data sources indicate that the person does not have\n  Title 38 status.\n      - **Suggested action**: The person should contact VA if they believe they\n          should have Title 38 status.\n  - ```MORE_RESEARCH_REQUIRED```: VA cannot confirm the person's Title 38 status\n      with existing records.\n      - **Suggested action**: The Veteran should request a manual review from VA\n          if they believe that they should have Title 38 status.\n  - ```ERROR```: One or more VA source systems is not available or returned\n      an error response.\n      - **Suggested action**:  Run the request again.\n\n## Authentication and Authorization\n\nThe Veteran Service History and Eligibility API uses OAuth 2.0/OpenID\nConnect. The following authorization models are supported:\n* [Authorization code flow](https://developer.va.gov/explore/authorization/docs/authorization-code?api=veteran_verification)\n* [Client credentials grant](https://developer.va.gov/explore/authorization/docs/client-credentials?api=veteran_verification)\n\n**Important:**\n- To get production access using client credentials grant, you must either work for VA or\n have specific VA agreements in place.\n-  Some endpoints have additional access restrictions. To get sandbox or production access\n to individual endpoints labeled (restricted access),\n you must be an approved Federal consumer of the data they provide.\n- If you have questions about these API access restrictions, [contact us](https://developer.va.gov/support/contact-us).\n\n## Test the API using Sandbox\n\nWe use [mock test data](https://developer.va.gov/explore/api/veteran-service-history-and-eligibility/test-users) in the sandbox environment. APIs accessed via the Sandbox environment are using the same underlying logic as VA's production APIs; only the underlying data store is different.\n\nUse these test user attributes in sandbox to populate the request body as only\ntest users can return a \"CONFIRMED\" response. For sandbox POST requests, only a\ntest user's date of birth and zip code are used to identify a Veteran.\n","contact":{"name":"VA.gov"},"version":"2.0.0"},"servers":[{"url":"https://sandbox-api.va.gov/services/veteran_verification/{version}","description":"Sandbox","variables":{"version":{"default":"v2"}}},{"url":"https://api.va.gov/services/veteran_verification/{version}","description":"Production","variables":{"version":{"default":"v2"}}}],"paths":{"/restricted/aca_coverage":{"post":{"tags":["ACA Coverage"],"summary":"Return a Veteran's enrollment status in minimum essential coverage (MEC) as defined by the Affordable Care Act (ACA). (restricted access).","description":"  This endpoint checks a Veteran's enrollment status for minimum essential\n  coverage (MEC), as defined by the Affordable Care Act (ACA), for a specified\n  date range.\n\n  The response includes a code for Veteran's health benefits status for\n  the request's date range. If the status returned is \"APPLICANT_ENROLLED,\"\n  the response also includes the start and end dates of the coverage. If multiple\n  enrollments are found for the requested date range, multiple start and end dates are\n  returned (limited to the 12 most recent enrollments).\n\n  The ACA Coverage endpoint requires all of the following data elements in your request:\n  * First Name\n  * Last Name\n  * Date of Birth (format: \"yyyy-mm-dd\")\n  * Social Security Number (format: \"000-00-0000\")\n  * ACA Coverage Search Start Date (format: \"yyyy-mm-dd\")\n  * ACA Coverage Search End Date (format: \"yyyy-mm-dd\")\n\n  The required data are utilized to match a Veteran in VA records.\n","operationId":"POST:/restricted/aca_coverage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranSsnAttributes"},"example":{"person_first_name":"Alfredo","person_last_name":"Armstrong","person_date_of_birth":"1993-06-08","person_ssn_identification":"796-01-2476","aca_coverage_start_date":"2021-09-01","aca_coverage_end_date":"2022-12-31"}}},"required":true},"responses":{"200":{"description":"Enrolled status successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AcaCoverageResponse"},"example":{"data":{"response_code":"V0000","description":"APPLICANT_ENROLLED","aca_coverage_periods":[{"aca_coverage_start_date":"2021-09-01","aca_coverage_end_date":"2021-09-31"},{"aca_coverage_start_date":"2022-01-01","aca_coverage_end_date":"2022-01-31"}]}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/restricted/aca_coverage"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/restricted/aca_coverage"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"422":{"description":"Unprocessable Entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VhaDataError"},"example":{"errors":[{"title":"V1000 - Data Error/Invalid Request","detail":"Required element invalid or missing in request.","code":"422","status":"422"}]}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VhaSystemError"},"example":{"errors":[{"title":"V1002 - System Error","detail":"System error.","code":"502","status":"502"}]}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VhaSystemUnavailable"},"example":{"errors":[{"title":"V1001 - Backend Application Unavailable","detail":"Unable to respond, system unavailable.","code":"503","status":"503"}]}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["aca_coverage_restricted.read"]},{"productionOauth2":["aca_coverage_restricted.read"]}]}},"/disability_rating":{"get":{"tags":["Disability Rating"],"summary":"Get information about a Veteran's VA disability ratings. Data returned includes individual and combined ratings, diagnoses, and eligibility dates for compensation for service-connected conditions.","description":"This endpoint provides disability ratings and related decisions and dates for a Veteran, based on the ID in the bearer token.","operationId":"GET:/disability_rating","responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"diagnostic_type_code":"0502","hyph_diagnostic_type_code":"1234","diagnostic_type_name":"Schizophrenia, disorganized type","diagnostic_text":"bilateral hearing loss","static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/disability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating.read"]},{"productionOauth2":["disability_rating.read"]}]},"post":{"tags":["Disability Rating"],"summary":"Search for information about a Veteran's VA disability ratings using demographic data. Data returned includes individual and combined ratings, diagnoses, and eligibility dates for compensation for service-connected conditions.","description":"This endpoint provides a Veteran's disability ratings and related decisions and dates.\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n* Mother's Maiden Name\n* Home Phone Number\n* Birth Place City\n* Birth Place State\n* Birth Place Country\n\nTips for finding a match:\n* First and Last Name, Address and DOB are often essential to uniquely identifying\na Veteran.\n* Home Address is recommended, but it may be beneficial to retry the search with\nadditional addresses if they are available and the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information,\nsuch as alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n","operationId":"POST:/disability_rating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"diagnostic_type_code":"0502","hyph_diagnostic_type_code":"1234","diagnostic_type_name":"Schizophrenia, disorganized type","diagnostic_text":"bilateral hearing loss","static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/disability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway. Also, could indicate Person Not Found in MPI backend.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"},"example":{"title":"Bad Gateway","detail":"Upstream Request Error.","code":"502","status":"502"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating.read"]},{"productionOauth2":["disability_rating.read"]}]}},"/restricted/disability_rating":{"post":{"tags":["Disability Rating"],"summary":"Search for information about a Veteran's disability rating using Social Security number and demographic data Data returned includes individual and combined ratings, diagnoses, and eligibility dates for compensation for service-connected conditions.(restricted access).","description":"This endpoint provides a Veteran's combined and individual disability ratings and\nrelated decisions and dates. It allows searching for a Veteran using Social Security number and demographic information.\n\nIf using Social Security number, the following information is required:\n* Social Security number\n* First name\n* Last name\n* Birth date\n\nIf using demographic data, the following information is required:\n* First Name\n* Last Name\n* Birth date\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nThe following optional information may also be used with Social Security number\nor demographic data:\n* Middle Name\n* Gender\n* Mother's Maiden Name\n* Home Phone Number\n* Birth Place City\n* Birth Place State\n* Birth Place Country\n\nTips for finding a match:\n* First and Last Name, Address and Birth date are often essential to uniquely\nidentifying a Veteran.\n* Home address is recommended, but it may also help to retry the search with\nadditional available addresses when the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information,\nsuch as alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only birth date and zip code are required to identify the\ntest user.\n","operationId":"POST:/restricted/disability_rating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederalVeteranAttributes"},"example":{"ssn":"796-01-2476","first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"diagnostic_type_code":"0502","hyph_diagnostic_type_code":"1234","diagnostic_type_name":"Schizophrenia, disorganized type","diagnostic_text":"bilateral hearing loss","static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","status":"400","code":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/restricted/disability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/restricted/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway. Also, could indicate Person Not Found in MPI backend.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"},"example":{"title":"Bad Gateway","detail":"Upstream Request Error.","status":"502","code":"502"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating_restricted.read"]},{"productionOauth2":["disability_rating_restricted.read"]}]}},"/summary/disability_rating":{"get":{"tags":["Disability Rating"],"summary":"Get information about a Veteran's VA disability ratings. Data returned includes individual and combined ratings and eligibility dates for compensation for service-connected conditions.","description":"This endpoint provides disability ratings and related decisions and dates for a Veteran, based on the ID in the bearer token.","operationId":"GET:/summary/disability_rating","responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingSummaryResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/summary/disability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/summary/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating_summary.read"]},{"productionOauth2":["disability_rating_summary.read"]}]},"post":{"tags":["Disability Rating"],"summary":"Search for information about a Veteran's VA disability ratings using demographic data. Data returned includes individual and combined ratings and eligibility dates for compensation for service-connected conditions.","description":"This endpoint provides a Veteran's disability ratings and related decisions and dates.\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n* Mother's Maiden Name\n* Home Phone Number\n* Birth Place City\n* Birth Place State\n* Birth Place Country\n\nTips for finding a match:\n* First and Last Name, Address and DOB are often essential to uniquely identifying\na Veteran.\n* Home Address is recommended, but it may be beneficial to retry the search with\nadditional addresses if they are available and the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information,\nsuch as alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n\n","operationId":"POST:/summary/disability_rating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingSummaryResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/summary/disability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/summary/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway. Also, could indicate Person Not Found in MPI backend.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"},"example":{"title":"Bad Gateway","detail":"Upstream Request Error.","code":"502","status":"502"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating_summary.read"]},{"productionOauth2":["disability_rating_summary.read"]}]}},"/restricted/summary/disability_rating":{"post":{"tags":["Disability Rating"],"summary":"Search for information about a Veteran's VA disability ratings using Social Security number and demographic data. Data returned includes individual and combined ratings and eligibility dates for compensation for service-connected conditions. (restricted access)","description":"This endpoint provides a Veteran's disability ratings and related decisions and dates.   It allows searching for a Veteran using Social   Security number and demographic information.\n\n  If using Social Security number, the following information is required:\n  * Social Security number\n  * First name\n  * Last name\n  * Birth date\n\n  If using demographic data, the following information is required:\n  * First Name\n  * Last Name\n  * Birth date\n  * Street Address\n  * City\n  * State\n  * Country\n  * Zipcode\n\n  The following optional information may also be used with Social Security number\n  or demographic data:\n  * Middle Name\n  * Gender\n  * Mother's Maiden Name\n  * Home Phone Number\n  * Birth Place City\n  * Birth Place State\n  * Birth Place Country\n\n  Tips for finding a match:\n  * First and Last Name, Address and Birth date are often essential to uniquely\n  identifying a Veteran.\n  * Home address is recommended, but it may also help to retry the search with\n  additional available addresses when the first attempt is not confirmed.\n  * To find a match, it can help to retry with different demographic information,\n  such as alternate last names or addresses.\n  * It can also help to remove special characters, hyphens, apostrophes, or spaces\n  in a name prior to matching.\n\n  NOTE: In the Sandbox only birth date and zip code are required to identify the\n  test user.\n","operationId":"POST:/restricted/summary/disability_rating","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederalVeteranAttributes"},"example":{"ssn":"796-01-2476","first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Disability Rating retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DisabilityRatingResponseV2"},"example":{"data":{"id":"12303","type":"disability-rating","attributes":{"combined_disability_rating":100,"combined_effective_date":"2018-03-27","legal_effective_date":"2018-03-27","individual_ratings":[{"decision":"Service Connected","disability_rating_id":"1070379","effective_date":"2018-03-27","rating_end_date":"2022-08-27","rating_percentage":50,"static_ind":true}]}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","status":"400","code":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/restricted/summarydisability_rating"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/restricted/summary/disability_rating"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway. Also, could indicate Person Not Found in MPI backend.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"},"example":{"title":"Bad Gateway","detail":"Upstream Request Error.","status":"502","code":"502"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["disability_rating_summary_restricted.read"]},{"productionOauth2":["disability_rating_summary_restricted.read"]}]}},"/enrolled_benefits":{"get":{"tags":["Enrolled Benefits"],"summary":"Get enrolled benefits information.","description":"This endpoint returns select enrolled benefits for a Veteran.\nIf the Veteran is enrolled, the codes and names for benefits they are\nreceiving will be returned for the following benefit types:\n\n* Compensation (Code C)\n* 306 Pension (Code 306P)\n* Old Law Pension (Code OLP)\n* Improved Pension (Code IP)\n","operationId":"GET:/enrolled_benefits","responses":{"200":{"description":"Enrolled benefits successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranEnrolledBenefitsConfirmation"},"example":{"veteran_benefits":[{"program_code":"C","program_name":"","award_effective_date":"2022-01-11T00:00:00Z"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","path":"/veteran_verification/v2/enrolled_benefits"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/enrolled_benefits"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/enrolled_benefits"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["enrolled_benefits.read"]},{"productionOauth2":["enrolled_benefits.read"]}]},"post":{"tags":["Enrolled Benefits"],"summary":"Get enrolled benefits information using demographics to search for the Veteran.","description":"This endpoint returns select enrolled benefits for a Veteran.\nIf the Veteran is enrolled, the codes and names for benefits they are\nreceiving will be returned for the following benefit types:\n\n* Compensation (Code C)\n* 306 Pension (Code 306P)\n* Old Law Pension (Code OLP)\n* Improved Pension (Code IP)\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n\nTips for finding a match:\n\n* First and Last Name, Address and DOB are often essential to uniquely identifying\na Veteran.\n* Home Address is recommended, but it may be beneficial to retry the search with\nadditional addresses if they are available and the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information, such\nas alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces in\na name prior to matching.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n","operationId":"POST:/enrolled_benefits","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Enrolled benefits successfully retrieved","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranEnrolledBenefitsConfirmation"},"example":{"veteran_benefits":[{"program_code":"C","program_name":"","award_effective_date":"2022-01-11T00:00:00Z"}]}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/enrolled_benefits"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/enrolled_benefits"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["enrolled_benefits.read"]},{"productionOauth2":["enrolled_benefits.read"]}]}},"/flashes":{"get":{"tags":["Flashes"],"summary":"Retrieve certain benefit flashes associated with a Veteran.","description":"A flash is an attribute on a Veteran's profile that describes special\ncircumstances which can apply to a Veteran. Flashes can aid in\nproperly routing claims or determining eligibility for some VA\nbenefits.\n\nThis endpoint currently shares the following flashes\nif they have been assigned to the Veteran.\n\n* Agent Orange (AO) Exposure Verified\n* Gulf War Veteran PACT Eligibility Verified\n\nIf neither of these flashes exist for the Veteran, then a 200 response\nwith an empty dataset will be returned.\n\nIf you have a use case for additional flashes, please\ncontact us with the details.\n","operationId":"GET:/flashes","responses":{"200":{"description":"Returns list of select flashes for a given Veteran","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EligibilityFlashesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/flashes"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/flashes"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["flashes.read"]},{"productionOauth2":["flashes.read"]}]},"post":{"tags":["Flashes"],"summary":"Retrieve certain benefit flashes associated with a Veteran using demographics to search for the Veteran.","description":"A flash is an attribute on a Veteran's profile that describes special\ncircumstances which can apply to a Veteran. Flashes can aid in\nproperly routing claims or determining eligibility for some VA\nbenefits.\n\nThis endpoint currently shares the following flashes\nif they have been assigned to the Veteran.\n\n* Agent Orange (AO) Exposure Verified\n* Gulf War Veteran PACT Eligibility Verified\n\nIf you have a use case for additional flashes, please\ncontact us with the details.\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n\nTips for finding a match:\n* First and Last Name, Address and DOB are often essential to uniquely\nidentifying a Veteran.\n* Home Address is recommended, but it may be beneficial to retry the search with\nadditional addresses if they are available and the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information,\nsuch as alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n\nIf neither of these flashes exist for the Veteran, then a 200 response\nwith an empty dataset will be returned.\n","operationId":"POST:/flashes","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Returns list of select flashes for a given Veteran","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EligibilityFlashesResponse"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/flashes"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/flashes"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["flashes.read"]},{"productionOauth2":["flashes.read"]}]}},"/service_history":{"get":{"tags":["Service History"],"summary":"Retrieve the service history of a Veteran.","description":"This endpoint provides a Veteran's detailed service history, including all military service episodes with the first and last name of the Veteran, the branch of service, start and end dates, paygrade, discharge status, and separation reason. It also provides start and end dates and locations for each deployment within each episode of service.","operationId":"GET:/service_history","responses":{"200":{"description":"Service History retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceHistoryResponse"},"example":{"data":[{"id":"2305d238-dee4-5c98-858a-f912e3c059f8","type":"service-history-episodes","attributes":{"first_name":"Jessie","last_name":"Price","branch_of_service":"Air Force","service_type":"Active Duty","start_date":"1991-05-29","end_date":"2011-06-30","pay_grade":"E07","component_of_service":"Air Force","discharge_status":"honorable","separation_reason":"SUFFICIENT SERVICE FOR RETIREMENT","service_episode_combat_pay":false,"deployments":[{"start_date":"1948-10-10","end_date":"1949-10-09","location":"KOR"}]}}],"militarySummary":{"first_name":"Jessie","last_name":"Price","active_duty_status":"N","combat_service_indicator":true,"duty_status_code":"02","duty_status_text":"Not on active duty: ","total_number_of_regular_active_duty_days":444,"total_number_of_reserve_active_duty_days":90,"total_number_of_guard_active_duty_days":60,"total_number_of_training_days":10}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/service_history"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/service_history"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["service_history.read"]},{"productionOauth2":["service_history.read"]}]},"post":{"tags":["Service History"],"summary":"Retrieve the service history of a Veteran using demographics to search for the Veteran.","description":"This endpoint provides a Veteran's detailed service history including all military\nservice episodes with the first and last name of the Veteran, the branch of service,\nstart and end dates, paygrade, discharge status, and separation reason. It also\nprovides start and end dates and locations for each deployment within each episode\nof service.\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n\nTips for finding a match:\n* First and Last Name, Address and DOB are often essential to uniquely identifying a\nVeteran.\n* Home Address is recommended, but it may be beneficial to retry the search with\nadditional addresses if they are available and the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information,\nsuch as alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n","operationId":"POST:/service_history","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA"}}},"required":true},"responses":{"200":{"description":"Service History retrieved successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceHistoryResponse"},"example":{"data":[{"id":"2305d238-dee4-5c98-858a-f912e3c059f8","type":"service-history-episodes","attributes":{"first_name":"Jessie","last_name":"Price","branch_of_service":"Air Force","service_type":"Active Duty","start_date":"1991-05-29","end_date":"2011-06-30","pay_grade":"E07","component_of_service":"Air Force","discharge_status":"honorable","separation_reason":"SUFFICIENT SERVICE FOR RETIREMENT","service_episode_combat_pay":false,"deployments":[{"start_date":"1948-10-10","end_date":"1949-10-09","location":"KOR"}]}}],"militarySummary":{"first_name":"Jessie","last_name":"Price","active_duty_status":"N","combat_service_indicator":true,"duty_status_code":"02","duty_status_text":"Not on active duty: ","total_number_of_regular_active_duty_days":444,"total_number_of_reserve_active_duty_days":90,"total_number_of_guard_active_duty_days":60,"total_number_of_training_days":10}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/service_history"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/service_history"}}}},"404":{"description":"Not Found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MissingIcn"},"example":{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["service_history.read"]},{"productionOauth2":["service_history.read"]}]}},"/status":{"get":{"tags":["Status"],"summary":"Confirm whether an individual is a Title 38 Veteran.","description":" Indicates whether an individual is \"Confirmed\" or \"Not Confirmed\" as a\n [Title 38 Veteran](https://www.ecfr.gov/current/title-38) according to VA.\n  ```\"not confirmed\"``` can mean several different things, depending on\n the following not_confirmed_reason values:\n- ```PERSON_NOT_FOUND```: The person was not found in VA source systems\n with the provided information. Including more demographic data\n for a Veteran increases the likelihood of finding their records\n in VA source systems.\n - ```NOT_TITLE_38```: VA data sources indicate that the person does not\n have Title 38 status.\n - ```MORE_RESEARCH_REQUIRED```: VA cannot confirm the person's Title 38\n status with existing records.\n - ```ERROR```: One or more VA source systems is not available or returned\n an error response.","operationId":"GET:/status","responses":{"200":{"description":"Confirmation status successfully retrieved.\n\nPossible return values if Veteran is \"NOT CONFIRMED\":\n - ERROR\n - MORE_RESEARCH_REQUIRED\n - NOT_TITLE_38\n - PERSON_NOT_FOUND","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranStatusResponseV2"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/status"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/status"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["veteran_status.read"]},{"productionOauth2":["veteran_status.read"]}]},"post":{"tags":["Status"],"summary":"Confirm whether an individual is a Title 38 Veteran using demographics","description":"Confirm an individual's Title 38 Veteran status according to VA.\nThis endpoint accepts demographic information for the person to\nbe confirmed and matches it against VA records. If there are\ndifferences between the data entered and the data on file, a\nmatch to a person may not be found. If a successful match is\nidentified, Title 38 Veteran status is checked.\n\n- ```\"confirmed\"``` indicates Title 38 Veteran status.\n- ```\"not confirmed\"``` can mean several different things, depending on\nthe following not_confirmed_reason values:\n    - ```PERSON_NOT_FOUND```: The person was not found in VA source systems\n    with the provided information. Including more demographic data\n    for a Veteran increases the likelihood of finding their records\n    in VA source systems.\n    - ```NOT_TITLE_38```: VA data sources indicate that the person does not\n    have Title 38 status.\n    - ```MORE_RESEARCH_REQUIRED```: VA cannot confirm the person's Title 38\n    status with existing records.\n    - ```ERROR```: One or more VA source systems is not available or returned\n    an error response.\n\nRequired information:\n* First Name\n* Last Name\n* Date of Birth\n* Street Address\n* City\n* State\n* Country\n* Zipcode\n\nOptional information:\n* Middle Name\n* Gender\n* Mother's Maiden Name\n* Home Phone Number\n* Birth Place City\n* Birth Place State\n* Birth Place Country\n\nTips for finding a match:\n* First and Last Name, Address and DOB are often essential to uniquely identifying a\nVeteran.\n* To find a match, it can help to retry with different demographic information, such\nas alternate last names or addresses.\n* It can also help to remove special characters, hyphens, apostrophes, or spaces in\na name prior to matching.\n* If needed, Veterans may update their profile with the VA on VA.gov. The updated\ninformation will be available to this API immediately. Additional field-level\nguidance is provided in the schema section of this documentation.\n\nNOTE: In the Sandbox only DOB and ZIP are required to identify the test user.\n","operationId":"POST:/status","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranAttributes"},"example":{"first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA","mothers_maiden_name":"Smith","birth_place_city":"Johnson City","birth_place_state":"MS","birth_place_country":"USA","home_phone_number":"555-555-5555"}}},"required":true},"responses":{"200":{"description":"Confirmation status successfully retrieved.\n\nPossible return values if Veteran is \"NOT CONFIRMED\":\n - ERROR\n - MORE_RESEARCH_REQUIRED\n - NOT_TITLE_38\n - PERSON_NOT_FOUND","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranStatusResponseV2"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/status"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/status"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["veteran_status.read"]},{"productionOauth2":["veteran_status.read"]}]}},"/restricted/status":{"post":{"tags":["Status"],"summary":"Confirm whether an individual is a Title 38 veteran using Social Security number and demographics.","description":"Confirm an individual's Title 38 Veteran status according to VA.\nThis endpoint accepts a Social Security number and/or demographic\ninformation for the person to be confirmed and matches it against\nVA records. If there are differences between the data entered and\nthe data on file, a match to a person may not be found. If a\nsuccessful match is identified, Title 38 Veteran status is checked.\n\n- ```\"confirmed\"``` indicates Title 38 Veteran status.\n- ```\"not confirmed\"``` can mean several different things, depending on\nthe following not_confirmed_reason values:\n    - ```PERSON_NOT_FOUND```: The person was not found in VA source systems\n    with the provided information. Including more demographic data\n    for a Veteran increases the likelihood of finding their records\n    in VA source systems.\n    - ```NOT_TITLE_38```: VA data sources indicate that the person does not\n    have Title 38 status.\n    - ```MORE_RESEARCH_REQUIRED```: VA cannot confirm the person's Title 38\n    status with existing records.\n    - ```ERROR```: One or more VA source systems is not available or returned\n    an error response.\n\nIf using Social Security number, the following information is required:\n* Social Security number\n* First name\n* Last name\n* Birth date\n\nIf using demographic data, the following information is required:\n* First Name\n* Last Name\n* Birth date\n* Street Address\n* City\n* State\n* Country\n* Zip code\n\nThe following optional information may also be used with Social Security number or\ndemographic data:\n* Middle Name\n* Gender\n* Mother's Maiden Name\n* Home Phone Number\n* Birth Place City\n* Birth Place State\n* Birth Place Country\n\nTips for finding a match if using only demographic data:\n* First and Last Name, Address and Birth date are often essential to uniquely identify a\nVeteran.\n* Home address is recommended, but it may also help to retry the search with\nadditional available addresses when the first attempt is not confirmed.\n* To find a match, it can help to retry with different demographic information, such\nas alternate last names or addresses.\n* It may also help to remove special characters, hyphens, apostrophes, or spaces\nin a name prior to matching.\n\nNOTE: In the Sandbox only birth date and zip code are required to identify the\ntest user.\n","operationId":"POST:/restricted/status","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FederalVeteranAttributes"},"example":{"ssn":"796-01-2476","first_name":"Alfredo","last_name":"Armstrong","birth_date":"1993-06-08","middle_name":"M","gender":"M","street_address_line1":"17020 Tortoise St","street_address_line2":"","street_address_line3":"","city":"Round Rock","zipcode":"78664","state":"TX","country":"USA","mothers_maiden_name":"Smith","birth_place_city":"Johnson City","birth_place_state":"MS","birth_place_country":"USA","home_phone_number":"555-555-5555"}}},"required":true},"responses":{"200":{"description":"Confirmation status successfully retrieved.\n\nPossible return values if Veteran is \"NOT CONFIRMED\":\n - ERROR\n - MORE_RESEARCH_REQUIRED\n - NOT_TITLE_38\n - PERSON_NOT_FOUND","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VeteranStatusResponseV2"}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BadRequest"},"example":{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}}}},"401":{"description":"Not Authorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthorizationError"},"example":{"status":"401","error":"Invalid Token.","path":"/veteran_verification/v2/restricted/status"}}}},"403":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenServerError"},"example":{"status":"403","error":"Token not granted requested scope.","path":"/veteran_verification/v2/restricted/status"}}}},"413":{"description":"Payload too large","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"Request size limit exceeded"}}}}},"429":{"description":"Too many requests","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"API rate limit exceeded"}}}}},"500":{"description":"Internal Server Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InternalServerApiError"},"example":{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}}}},"502":{"description":"Bad Gateway","content":{"application/json":{"schema":{"$ref":"#/components/schemas/InaccessibleServiceDefintionErrorApiError"}}}},"503":{"description":"Service Unavailable","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BackendServiceApiError"}}}},"504":{"description":"Gateway Timeout","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}},"example":{"message":"The server took too long to respond"}}}}}},"security":[{"sandboxOauth2":["status_restricted.read"]},{"productionOauth2":["status_restricted.read"]}]}}},"components":{"schemas":{"VeteranSsnAttributes":{"required":["aca_coverage_end_date","aca_coverage_start_date","person_date_of_birth","person_first_name","person_last_name","person_ssn_identification"],"type":"object","properties":{"person_ssn_identification":{"type":"string"},"person_first_name":{"type":"string"},"person_last_name":{"type":"string"},"person_date_of_birth":{"type":"string","format":"date"},"aca_coverage_start_date":{"type":"string","format":"date"},"aca_coverage_end_date":{"type":"string","format":"date"}}},"ApiErrorDetails":{"type":"object","properties":{"title":{"type":"string","example":"Error title"},"detail":{"type":"string","example":"Detailed error message"},"code":{"type":"string","example":"Error Code"},"status":{"type":"string","example":"Error Code"}}},"BadRequestIcnValidation":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Bad Request","detail":"Invalid ICN format.","code":"400","status":"400"}]}},"GatewayError":{"type":"object","properties":{"message":{"type":"string","example":"Too many requests."}},"description":"API Gateway error"},"BadRequest":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Bad Request","detail":"Bad Request","code":"400","status":"400"}]}},"AuthorizationError":{"type":"object","properties":{"status":{"type":"string","example":"401"},"error":{"type":"string","example":"Invalid token."},"path":{"type":"string","example":"/veteran_verification/v2/{endpoint}"}}},"ForbiddenServerError":{"type":"object","properties":{"status":{"type":"string","example":"403"},"error":{"type":"string","example":"Token not granted requested scope."},"path":{"type":"string","example":"/veteran_verification/v2/{endpoint}"}}},"InternalServerApiError":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Internal server error","detail":"Internal server error","code":"500","status":"500"}]}},"InaccessibleServiceDefintionErrorApiError":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Bad Gateway","detail":"Upstream Request Error.","code":"502","status":"502"}]}},"BackendServiceApiError":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Service Unavailable","detail":"Backend Service Unavailable.","code":"503","status":"503"}]}},"AcaCoverageData":{"type":"object","properties":{"response_code":{"type":"string","description":"Returns a response code","example":"V0000"},"description":{"type":"string","description":"Defines reason for response code","example":"APPLICANT_ENROLLED"},"aca_coverage_periods":{"type":"array","description":"Returns a list of enrollment coverage periods","items":{"$ref":"#/components/schemas/AcaCoveragePeriods"}}}},"AcaCoveragePeriods":{"type":"object","properties":{"aca_coverage_start_date":{"type":"string","description":"Indicates Enrollment Status Coverage Period start date","example":"2019-10-09"},"aca_coverage_end_date":{"type":"string","description":"Indicates Enrollment Status Coverage Period end date","example":"2019-10-09"}},"description":"Returns a list of enrollment coverage periods"},"AcaCoverageResponse":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/AcaCoverageData"}},"description":"Response codes and descriptions from source system if successful Veteran match is found:<br>V0000 - APPLICANT_ENROLLED<br>V0001 - APPLICANT_NOT_ENROLLED<br>V0002 - APPLICANT_NOT_FOUND<br>V0003 - APPLICANT_DECEASED<br>V0004 - APPLICANT_DECEASED_ENROLLED<br>V0005 - APPLICANT_DECEASED_NOT_ENROLLED<br>"},"VhaDataError":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":"    {\n     \"errors\": [\n                 {\n                  \"title\": \"V1000 - Data Error/Invalid Request\",\n                  \"detail\": \"Required element invalid or missing in\n                  request.\",\n                  \"code\": \"422\",\n                  \"status\": \"422\"\n                 }\n               ]\n     }\n"},"VhaSystemError":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"V1002 - System Error","detail":"System error.","code":"502","status":"502"}]}},"VhaSystemUnavailable":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"V1001 - Backend Application Unavailable","detail":"Unable to respond, system unavailable.","code":"503","status":"503"}]}},"VeteranStatusConfirmation":{"type":"object","properties":{"veteran_status":{"type":"string","description":"Whether the system could confirm the Veteran status of an individual based on traits\n","enum":["confirmed","not confirmed"]}},"description":"Veteran status confirmation for an individual"},"DisabilityRatingAttributes":{"type":"object","properties":{"combined_disability_rating":{"type":"integer","description":"The Veteran's combined disability rating (percentage)","format":"int32","example":40},"combined_effective_date":{"type":"string","description":"Date the Veteran can start receiving disability benefits (YYYY-mm-dd)","format":"date","example":"2019-10-09"},"legal_effective_date":{"type":"string","description":"Date of a law change that affects a Veteran's disability compensation (YYYY-mm-dd)","format":"date","example":"2019-10-09"},"individual_ratings":{"type":"array","description":"Information about each disability rating, which makes up the combined disability rating","items":{"$ref":"#/components/schemas/IndividualRating"}}}},"DisabilityRatingData":{"type":"object","properties":{"id":{"type":"string"},"type":{"type":"string"},"attributes":{"$ref":"#/components/schemas/DisabilityRatingAttributes"}}},"DisabilityRatingResponseV2":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/DisabilityRatingData"}}},"IndividualRating":{"type":"object","properties":{"decision":{"type":"string","description":"Returns explanations of VA's decision on a claimant's disability or on their claim for a benefit.\n\n1151 Denied - Claim under 1151 provisions denied. The [38 U.S.C. 1151](https://www.law.cornell.edu/uscode/text/38/1151) provides for the payment of compensation for additional disability or death proximately caused by VA hospital care, medical or surgical treatment, examination, participation in vocational rehabilitation training or participation in compensated work therapy. Disabilities and/or causes of death recognized under this provision of law are compensated \"as if\" service-connected (SC), but are not actually SC. (See [M21-1, Part VIII, Subpart iv, Chapter 6](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000177483/M21-1-Part-VIII-Subpart-iv-Chapter-6-Section-A-Developing-Claims-Filed-Under-38-USC-1151?query=M21-1,%20Part%20VIII,%20Subpart%20iv,%20Chapter%206,%20Section%20A-Developing%20Claims%20Filed%20Under%2038%20U.S.C.%201151#1), Section A-Developing Claims Filed Under 38 U.S.C. 1151)\n\n1151 Granted - Claim under 1151 provisions granted. The [38 U.S.C. 1151](https://www.law.cornell.edu/uscode/text/38/1151) provides for the payment of compensation for additional disability or death proximately caused by VA hospital care, medical or surgical treatment, examination, participation in vocational rehabilitation training or participation in compensated work therapy. Disabilities and/or causes of death recognized under this provision of law are compensated \"as if\" service-connected (SC), but are not actually SC. (See [M21-1, Part VIII, Subpart iv, Chapter 6](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000177483/M21-1-Part-VIII-Subpart-iv-Chapter-6-Section-A-Developing-Claims-Filed-Under-38-USC-1151?query=M21-1,%20Part%20VIII,%20Subpart%20iv,%20Chapter%206,%20Section%20A-Developing%20Claims%20Filed%20Under%2038%20U.S.C.%201151#1), Section A-Developing Claims Filed Under 38 U.S.C. 1151)\n\nService Connected - A disability that has been determined to be caused by any theory of entitlement from qualifying service to any degree of compensation. (See [38 CFR 3.303](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR39056aee4e9ff13/section-3.303) Principles Relating to Service Connection)\n\nPension - The Veteran is receiving pension benefits. A benefit payable monthly by the Department of Veteran Affairs because of non service-connected disability or age. (See [38 CFR 3.3](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFRf5fe31f49d4f511/section-3.3) Pension for Veterans)\n\nDeferred - A claimed disability is deferred for additional development before it is adjudicated/finalized. The electronic functionality within VBMS allows a claims processor to return a claim to an earlier place within the claims cycle to correct avoidable and unavoidable erroneous actions. (See [M21-4 Appendix D. Index of Claim Stage Indicators](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000036576/Appendix-D-Index-of-Claim-Stage-Indicators?query=M21-4%20Appendix%20D))\n\nNot Service Connected - A claimed disability is found to not be connected to service and is considered denied.\n\nWillful Misconduct - A term referencing character of discharge other than honorable from uniformed service. Disability pension is not payable for any condition due to the Veteran's own willful misconduct. (See [38 CFR 3.301](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR78886a7c7448ec2/section-3.301) Line of Duty and Misconduct)\n\nVoc Rehab Purposes - Veteran Readiness and Employment (VR&E) Service may request a memorandum vocational rehabilitation/employment rating to determine whether the claimant's service-connected disabilities meet the 10-percent or 20-percent eligibility requirements in any of the following situations: VA Form 28-1900 if filed by a service member awaiting discharge for disability, VA Form 28-1900 is filed by a Veteran, but no claim for compensation was ever filed, or all of the following are true–VA Form 28-1900 and VA Form 21-526EZ were filed and are both currently being processed and service department medical records adequate for memorandum VR&E rating purposes were received. (See [M21-1, Part XIII, Subpart i, 5.A.2](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000173834/M21-1-Part-XIII-Subpart-i-Chapter-5-Section-B-Memorandum-Vocational-RehabilitationEmployment-VRE-Ratings?query=m21-1%20part%20xiii%20subpart%20i%20chapter%205%20section%20b) Memorandum Vocational Rehabilitation/Employment Ratings)\n\nChapter 17 - This is the part of the 38 CFR that allows a Veteran to be eligible for medical treatment from the VHA, when they are found to have an unfavorable finding for a character of discharge determination. (See [38 CFR 3.360](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR6477ad08d327384/section-3.360) Service-Connected Health-Care Eligibility of Certain Persons Administratively Discharged Under Other Than Honorable Condition).\n\n38 USC 109(c) - Service Connection for allied forces (non U.S.) members during WWII. This determination will be made using the same criteria that applies to determinations of service connection based on service in the Armed Forces of the United States. (See [38 CFR 3.359](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR6477ad08d327384/section-3.359) Determination of Service Connection for Former Members of the Armed Forces of Czechoslovakia or Poland).\n\nPEB Referred Proposed DES Not Service Connected - The disability(ies) from the [Physical Evaluation Board](https://www.health.mil/Military-Health-Topics/Access-Cost-Quality-and-Safety/DES/Physical-Evaluation) (PEB), Disability Evaluation System were found not to be service connected. The PEB determines whether a service member's injury prevents their continued performance in the military. (See [M21-1, Part X, Subpart i, Chapter 6, Section I](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000177953/M21-1-Part-X-Subpart-i-Chapter-6-Section-E-Integrated-Disability-Evaluation-System-IDES-Referrals-and-Initial-Processing)–Integrated Disability Evaluation System (IDES) Processing Based on Service Department Outcomes).\n\nPEB Referred Proposed DES Service Connected - The disability(ies) from the [Physical Evaluation Board](https://www.health.mil/Military-Health-Topics/Access-Cost-Quality-and-Safety/DES/Physical-Evaluation) (PEB), Disability Evaluation System were found to be service connected. The PEB determines whether a service member's injury prevents their continued performance in the military. (See [M21-1, Part X, Subpart i, Chapter 6, Section I](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000177953/M21-1-Part-X-Subpart-i-Chapter-6-Section-E-Integrated-Disability-Evaluation-System-IDES-Referrals-and-Initial-Processing)–Integrated Disability Evaluation System (IDES) Processing Based on Service Department Outcomes).\n\nProposed DES Service Connected - The disability(ies) from the [Disability Evaluation System](https://warriorcare.dodlive.mil/Benefits/Disability-Evaluation/) (DES)–were found to be service connected. Service members can incur a wound, illness, and/or injury at any time, whether serving in combat operations, during training evolutions, or at any other time on the job or after hours. Some service members may suffer a long-lasting or permanent disability affecting their ability to return to full military duties. In this case, their treating physician will refer them to DES to determine whether a service member will return to duty, medically separate, or medically retire due to disability.\n\nProposed DES Not Service Connected - The disability(ies) from the [Disability Evaluation System](https://warriorcare.dodlive.mil/Benefits/Disability-Evaluation/) (DES)–were found not to be service connected. Service members can incur a wound, illness, and/or injury at any time, whether serving in combat operations, during training evolutions, or at any other time on the job or after hours. Some service members may suffer a long-lasting or permanent disability affecting their ability to return to full military duties. In this case, their treating physician will refer them to DES to determine whether a service member will return to duty, medically separate, or medically retire due to disability.\n\nActive Psychosis/GW Mental - When a Veteran applies for medical treatment under [38.U.S.C.1710](https://www.law.cornell.edu/uscode/text/38/1710), the VHA medical facility determines the Veteran's eligibility and enrollment category. However, the medical facility may require information from the RO in order to make its determination. (See [M21-1, Part XIII, Subpart i, Chapter 3, Section A](https://www.knowva.ebenefits.va.gov/system/templates/selfservice/va_ssnew/help/customer/locale/en-US/portal/554400000001018/content/554400000173640/M21-1-Part-XIII-Subpart-i-Chapter-3-Section-A-General-Information-on-Eligibility-for-Medical-Services%3FarticleViewContext=article_view_related_article#XIII)–General Information On Eligibility For Medical Service).\n\nBirth-Deny - Denial of [chapter 18](https://www.federalregister.gov/documents/2003/01/08/03-101/health-care-for-certain-children-of-vietnam-veterans-covered-birth-defects-and-spina-bifida) \"other covered birth defects\" based on herbicide exposure. The VA will pay a monthly monetary allowance to or for a person who VA has determined is an individual suffering from spina bifida whose biological mother or father is or was a Vietnam Veteran or a Veteran with covered service in Korea. (See [38 CFR 3.814](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR2c3eca6251aa67b/section-3.814) Monetary Allowance under 38 U.S.C. chapter 18)\n\nSpina-Deny - Denial of [chapter 18](https://www.federalregister.gov/documents/2003/01/08/03-101/health-care-for-certain-children-of-vietnam-veterans-covered-birth-defects-and-spina-bifida) spina bifida benefits based on herbicide exposure. The VA will pay a monthly monetary allowance to or for a person who VA has determined is an individual suffering from spina bifida whose biological mother or father is or was a Vietnam Veteran or a Veteran with covered service in Korea.(See [38 CFR 3.814](https://www.ecfr.gov/current/title-38/chapter-I/part-3/subpart-A/subject-group-ECFR2c3eca6251aa67b/section-3.814) Monetary Allowance under 38 U.S.C. chapter 18)\n\n","example":"Service Connected"},"effective_date":{"type":"string","description":"The date the service decision goes into effect (YYYY-mm-dd)","format":"date","example":"2019-10-09"},"rating_end_date":{"type":"string","description":"The date the service decision expires (YYYY-mm-dd)","format":"date","example":"2019-10-09"},"rating_percentage":{"type":"integer","description":"The percentage of the assigned rating, based on the Veteran's disability","format":"int32","example":40},"diagnostic_type_code":{"type":"string","description":"The primary type code of the diagnosis","example":"1134"},"hyph_diagnostic_type_code":{"type":"string","description":"The optional part of the type code of the diagnosis","example":"7502"},"diagnostic_type_name":{"type":"string","description":"The name of the diagnosis","example":"Schizophrenia, disorganized type"},"diagnostic_text":{"type":"string","description":"Text related to the diagnosis","example":"bilateral hearing loss"},"disability_rating_id":{"type":"string","description":"The individual disability rating id","example":"12345"},"static_ind":{"type":"boolean","description":"The purpose of this field is to allow users to make a \"yes\" or \"no\" decision about re-examination for all disabilities that have not been determined to be static.","example":true}},"description":"Information about each disability rating, which makes up the combined disability rating"},"MissingIcn":{"type":"object","properties":{"errors":{"type":"array","items":{"$ref":"#/components/schemas/ApiErrorDetails"}}},"example":{"errors":[{"title":"Veteran not identifiable.","detail":"No data found for ID or demographics.","code":"404","status":"404"}]}},"VeteranAttributes":{"required":["birth_date","city","country","first_name","last_name","street_address_line1","zipcode"],"type":"object","properties":{"gender":{"type":"string","description":"For gender, only 'm' or 'f' will help the search currently."},"first_name":{"type":"string","description":"* Some names may require special handling if a Veteran is not found.\n* Try removing special characters, such as hyphens, apostrophes, and spaces prior to\nmatching. For example, a submission of 'De'Anna' can be matched as 'deanna'.\n* In addition, depending on the handling logic of the front end application updating the VA\nrecord, an inquiry with first name of 'Ann-Marie' would be standardized to 'AnnMarie' but\ncould be matched against 'AnnMarie' or 'Ann Marie' or 'Ann' or 'Marie'.\n* Therefore, if a Veteran with a hyphenated name is not found, it may be useful to retry the\nhyphenated name without the hyphen and together, then separated, then each individual part\nof the name as in the example with 'Ann-Marie'.\n* Capitalization does not impede match strength.\n"},"middle_name":{"type":"string"},"last_name":{"type":"string","description":"* Some names may require special handling if a Veteran is not found.\n* Try removing special characters, such as hyphens, apostrophes, and spaces prior to\nmatching. For example, a submission of 'O'leary' can be matched as 'oleary'.\n* In addition, depending on the handling logic of the front end application updating the\nVA record, an inquiry with last name of 'Smith-Jones' would be standardized to\n'SmithJones' but could be matched against 'SmithJones' or 'Smith Jones' or 'Smith' or\n'Jones'.\n* Therefore, if a Veteran with a hyphenated name is not found, it may be useful to retry\nthe hyphenated name without the hyphen and together, then separated, then each\nindividual part of the name as in the example with 'Smith-Jones'.\n* Capitalization does not impede match strength."},"zipcode":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"birth_date":{"type":"string","format":"date"},"street_address_line1":{"type":"string","description":"Address line 1 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"street_address_line2":{"type":"string","description":"Address line 2 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"street_address_line3":{"type":"string","description":"Address line 3 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"home_phone_number":{"type":"string"},"birth_place_city":{"type":"string"},"birth_place_state":{"type":"string"},"birth_place_country":{"type":"string"},"mothers_maiden_name":{"type":"string"}},"description":"* Use the current residence address of the Veteran.\n* Some unhoused Veterans can use a local USPS, support organization, or other location\nsuch as 'the corner of RTE512 and U.S.1'.\n* Aim to match the input against the Veteran's demographic information in their VA.gov\nprofile.\n* Data in the request and the VA record is standardized using the same algorithm prior\nto matching. If the data is close, and enough fields are provided, it will find the\nVeteran most of the time; however, some records will have data that is not in sync and\nmay require trying the request again with different addresses, names, or formats.\n* Alternately, the Veteran may need to update their information with the VA if they\nare not found.\n"},"FederalVeteranAttributes":{"required":["birth_date","first_name","last_name","ssn"],"type":"object","properties":{"gender":{"type":"string","description":"For gender, only 'm' or 'f' will help the search currently."},"ssn":{"type":"string","description":"For use by restricted access endpoints only"},"first_name":{"type":"string","description":"* Some names may require special handling if a Veteran is not found.\n* Try removing special characters, such as hyphens, apostrophes, and spaces prior to\nmatching. For example, a submission of 'De'Anna' can be matched as 'deanna'.\n* In addition, depending on the handling logic of the front end application updating the VA\nrecord, an inquiry with first name of 'Ann-Marie' would be standardized to 'AnnMarie' but\ncould be matched against 'AnnMarie' or 'Ann Marie' or 'Ann' or 'Marie'.\n* Therefore, if a Veteran with a hyphenated name is not found, it may be useful to retry the\nhyphenated name without the hyphen and together, then separated, then each individual part\nof the name as in the example with 'Ann-Marie'.\n* Capitalization does not impede match strength.\n"},"middle_name":{"type":"string"},"last_name":{"type":"string","description":"* Some names may require special handling if a Veteran is not found.\n* Try removing special characters, such as hyphens, apostrophes, and spaces prior to\nmatching. For example, a submission of 'O'leary' can be matched as 'oleary'.\n* In addition, depending on the handling logic of the front end application updating the\nVA record, an inquiry with last name of 'Smith-Jones' would be standardized to\n'SmithJones' but could be matched against 'SmithJones' or 'Smith Jones' or 'Smith' or\n'Jones'.\n* Therefore, if a Veteran with a hyphenated name is not found, it may be useful to retry\nthe hyphenated name without the hyphen and together, then separated, then each\nindividual part of the name as in the example with 'Smith-Jones'.\n* Capitalization does not impede match strength."},"zipcode":{"type":"string"},"city":{"type":"string"},"state":{"type":"string"},"country":{"type":"string"},"birth_date":{"type":"string","format":"date"},"street_address_line1":{"type":"string","description":"Address line 1 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"street_address_line2":{"type":"string","description":"Address line 2 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"street_address_line3":{"type":"string","description":"Address line 3 can accept one or more letters (uppercase or\nlowercase), digits, spaces, commas, hashes(#), apostrophes('),\nperiods(.), back slashes(\\\\), forward slashes(/), or hyphens(-).\n"},"home_phone_number":{"type":"string"},"birth_place_city":{"type":"string"},"birth_place_state":{"type":"string"},"birth_place_country":{"type":"string"},"mothers_maiden_name":{"type":"string"}},"description":"* This is the schema for the restricted access endpoints (status and disability_rating).\n* Use the current residence address of the Veteran.\n* Some unhoused Veterans can use a local USPS, support organization, or other location\nsuch as 'the corner of RTE512 and U.S.1'.\n* Aim to match the input against the Veteran's demographic information in their VA.gov\nprofile.\n* Data in the request and the VA record is standardized using the same algorithm prior\nto matching. If the data is close, and enough fields are provided, it will find the\nVeteran most of the time; however, some records will have data that is not in sync and\nmay require trying the request again with different addresses, names, or formats.\n* Alternately, the Veteran may need to update their information with the VA if they\nare not found.\n"},"DisabilityRatingSummaryResponseV2":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/DisabilityRatingData"}}},"VeteranEnrolledBenefit":{"required":["program_code"],"type":"object","properties":{"program_code":{"type":"string","description":"The program identifier"},"program_name":{"type":"string","description":"The human readable program name"},"award_effective_date":{"type":"string","format":"date-time"}},"description":"Individual Veteran enrolled benefit"},"VeteranEnrolledBenefitsConfirmation":{"type":"object","properties":{"veteran_benefits":{"type":"array","description":"Array of Veteran enrolled benefits for an individual","items":{"$ref":"#/components/schemas/VeteranEnrolledBenefit"}}},"description":"Veteran enrolled benefits for an individual"},"EligibilityFlashesData":{"type":"object","properties":{"flash_name":{"type":"string"}}},"EligibilityFlashesResponse":{"required":["flashes"],"type":"object","properties":{"flashes":{"type":"array","items":{"$ref":"#/components/schemas/EligibilityFlashesData"}}}},"Dep
[...]
